<div class="card">
  <div class="card-close">
    <div class="dropdown">
        <button type="button" id="closeCard3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
        <div aria-labelledby="closeCard3" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
      </div>
    </div>
  <div class="card-header d-flex align-items-center">
    <h3 class="h4">
      <%= title %> 
      <span class="ml-3 badge badge-success" role="button" onclick="modalShow( '<%= model %>','Add','<%= title %>' )"><i class="fa fa-plus"></i></span>
    </h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <% datatable.columns.forEach(function(column){ %>
            <th><%= column %></th>
            <% }); %>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          <% datatable.data.forEach(function(element){ %>
          <tr>
            <% datatable.columns.forEach(function(column){ %>
            <td><%= `${element[column]}` %></td>
            <% }); %>
            <td>
              <div class="btn-group" role="group" aria-label="action-ligne">
                <button type="button" class="btn btn-info" onclick="modalShow( '<%= model %>','View','<%= title %>' )"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-warning" onclick="modalShow( '<%= model %>','Edit','<%= title %>' )"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger" onclick="modalShow( '<%= model %>','Delete','<%= title %>' )"><i class="fa fa-trash"></i></button>
              </div>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('modals', {model: model, form: form});  %>

<script src="js/datatable.js"></script>
